/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}


/* Navigation Bar */
nav {
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #eee;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-links li a {
  display: block;
  background-color: #2da9ff;
  color: white;
  padding: 25px 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: small;
  border-bottom-right-radius: 24px;
  font-family: "Jura", sans-serif;
  transition: background-color 1s width .5s color 2s;
  width: 75%;
}

.nav-links li a:hover {
  background-color: #1d7fd9;
  width: 100%;
  color: orange;
}

/* Hero Section */
.hero {
  background-color: #2da9ff;
  color: white;
  text-align: center;
  padding: 60px 5px;
  border-radius: 24px;
  font-family: "Jura", sans-serif;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

footer {
  font-size: large;
  font-weight: bold;
}

footer a {
  font-size: 100%;
}

/* Art Projects Section */
.projects {
  padding: 30px 20px;
}

.projects h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-family: "Jura", sans-serif;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery .item {
  flex: 1 1 250px;
  max-width: 300px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  display: block;
  height: auto;
}

/* Responsive Design */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li a {
    width: 100%;
  }
}
